<h1>Turbolinks Sandbox</h1>

<nav>
  <%= link_to 'Page 1', page1_path %>
  <%= link_to 'Page 2', page2_path %>
</nav>

<div>
  <%= javascript_include_tag 'root', defer: true %>
  <button class="invoker">Invoke</button>
</div>
